<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Product </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="product$ | async as product; else loadingOrError">
    <ion-card>
      <img [alt]="product.name" [src]="product.image" />
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
        <ion-card-subtitle>{{ product.description }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ng-container *ngIf="product.category && product.category.length > 0">
          <ion-chip *ngFor="let category of product.category" color="secondary"
            >{{category.name}}</ion-chip
          >
        </ng-container>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col size="6">
                      <ion-button color="primary" (click)="setAmount(50)"
                        >50$</ion-button
                      >
                    </ion-col>
                    <ion-col size="6">
                      <ion-button color="primary" (click)="setAmount(100)"
                        >100$</ion-button
                      >
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <ion-label position="floating">Amount, $</ion-label>
                <ion-input
                  type="number"
                  inputmode="numeric"
                  [value]="amount"
                  (ionInput)="changeAmount($event)"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col size="6">
                      <ion-button (click)="setQuantity(10)" color="primary"
                        >10</ion-button
                      >
                    </ion-col>
                    <ion-col size="6">
                      <ion-button (click)="setQuantity(25)" color="primary"
                        >25</ion-button
                      >
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <ion-label position="floating">Quantity</ion-label>
                <ion-input
                  type="number"
                  inputmode="numeric"
                  [value]="quantity"
                  (ionInput)="changeQuantity($event)"
                ></ion-input>
              </ion-item>
            </ion-col> </ion-row
        ></ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      [disabled]="!quantity || !amount"
      expand="block"
      (click)="addToCart()"
      >Add to cart</ion-button
    >
  </ion-toolbar>
</ion-footer>

<ng-template #loadingOrError>
  <ng-container *ngIf="errorObject; else loading">
    <ion-text color="warning">
      <h3>Something wrong... Try again later</h3>
    </ion-text>
  </ng-container>
</ng-template>

<ng-template #loading>
  <ion-item>
    <ion-spinner name="dots"></ion-spinner>
  </ion-item>
</ng-template>
