<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Product </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="product$ | async as product; else loadingOrError">
    <ion-card>
      <img [alt]="product.name" [src]="product.image" />
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
        <ion-card-subtitle>{{ product.description }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ng-container *ngIf="product.category && product.category.length > 0">
          <ion-chip *ngFor="let category of product.category" color="secondary"
            >{{category.name}}</ion-chip
          >
        </ng-container>
        <app-product-calc
          (changeCalc)="changeCalc($event)"
          [productPrice]="product.price"
        ></app-product-calc>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      [disabled]="!selectedProduct"
      (click)="addToCart()"
      >Add to cart</ion-button
    >
    <ion-button expand="block" fill="clear" (click)="navToProductsPage()"
      >Go to all products</ion-button
    >
  </ion-toolbar>
</ion-footer>

<ng-template #loadingOrError>
  <ng-container *ngIf="errorObject; else loading">
    <ion-text color="warning">
      <h3>Something wrong... Try again later</h3>
    </ion-text>
  </ng-container>
</ng-template>

<ng-template #loading>
  <ion-item>
    <ion-spinner name="dots"></ion-spinner>
  </ion-item>
</ng-template>
