:host {
    display: block;
    width: 100%;
    .ui-input {
        h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 10px;
        }
        label {
            display: block;
            width: 100%;
        }
        .error {
            display: none;
        }
        .input-holder {
            position: relative;
            input {
                transition: all 0.3s;
                color: var(--ion-color-medium);
                background: transparent;
                width: 100%;
                padding: 10px 14px;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                border: 2px solid var(--ion-color-light-shade);
                border-radius: 8px;
                &::placeholder {
                    color: var(--ion-color-light-shade);
                }
            }
            input[type="number"] {
                -moz-appearance: textfield;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            .icon {
                color: var(--ion-color-medium);
                font-size: 20px;
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        &.active {
            .input-holder {
                input {
                    outline: none;
                    border-color: var(--ion-color-primary);
                }
            }
        }
        &.invalid {
            .input-holder {
                input {
                    border-color: #ef0404;
                }
                .icon {
                    color: #ef0404;
                }
            }
            .error {
                display: block;
                position: absolute;
                padding: 2px 5px;
                font-size: 13px;
                color: #ef0404;
            }
        }
        &.disabled {
            opacity: 0.5;
        }
    }
}
